name: CI

on:
  push:
    branches-ignore:
    - 'release/v**'
    paths-ignore:
    - '**/*.md'
    - '**/*.sln'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
    - '**/*.md'
    - '**/*.sln'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
         global-json-file: ./global.json

    - name: Restore Dependencies
      run: |
          dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal --no-restore --collect:"XPlat Code Coverage"

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

