name: Publish Release

on:
  release:
    types:
      - released
      - prereleased

jobs:
  publish_release:
    runs-on: ubuntu-22.04

    steps:

    - name: Get Version
      uses: nivaes/version-run-number@develop
      id: version_run_number

    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: release
      if: github.event.action == 'released'
      run: echo Release

    - name: prereleased
      if: github.event.action == 'prereleased'
      run: echo Prereleased

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: ./global.json

    - name: Restore Dependencies
      run: |
          dotnet restore

    - name: Build
      run: dotnet build --configuration Release -p:Version=${{ steps.version_run_number.outputs.version }} --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal --no-restore

    - name: Pack
      run: dotnet pack --configuration Release --no-build --verbosity normal --output ./Artifacts/ -p:Version=${{ steps.version_run_number.outputs.version }} --no-restore

    - name: Publish packages
      run: dotnet nuget push ./Artifacts/*.nupkg --skip-duplicate --source nuget.org --api-key ${{ secrets.NIVAES_NUGET_TOKEN }}
